# Configurações do Servidor
PORT=80

# Credenciais SMTP para envio de e-mails
SMTP_HOST=smtp.exemplo.com
SMTP_PORT=587
SMTP_USER=usuario@exemplo.com
SMTP_PASS=senha_do_smtp

# Destinatário dos Leads de contato do formulário
CONTACT_RECEIVER=contato@jawk.com.br
